listen:
  type: quic
  port: 443
  ssl:
    key-file: /home/ubuntu/localhost-key.pem
    certificate-file: /home/ubuntu/localhost.pem

listen:
  port: 443
  ssl:
    key-file: /home/ubuntu/localhost-key.pem
    certificate-file: /home/ubuntu/localhost.pem

user: ubuntu
hosts:
  "localhost":
    paths:
      /:
        file.dir: /home/ubuntu/data/
access-log: /home/ubuntu/access
error-log: /home/ubuntu/error
