listen:
  type: quic
  port: 443
  ssl:
    key-file: /etc/letsencrypt/live/h2o.antoniszczepanik.com/privkey.pem
    certificate-file: /etc/letsencrypt/live/h2o.antoniszczepanik.com/fullchain.pem

listen:
  port: 443
  ssl:
    key-file: /etc/letsencrypt/live/h2o.antoniszczepanik.com/privkey.pem
    certificate-file: /etc/letsencrypt/live/h2o.antoniszczepanik.com/fullchain.pem

user: ubuntu
hosts:
  "localhost":
    paths:
      /:
        file.dir: /home/ubuntu/data/
access-log: /dev/null
error-log: /home/ubuntu/error
