{
        https_port 443
        skip_install_trust true

        servers :443 {
                protocol {
                        experimental_http3
                }
        }
}

https://caddy.antoniszczepanik.com {
        file_server {
            root /home/ubuntu/data
        }
        tls /etc/letsencrypt/live/caddy.antoniszczepanik.com/fullchain.pem /etc/letsencrypt/live/caddy.antoniszczepanik.com/privkey.pem
}
